@font-face {
	font-family: 'ArialNarrow';
	src: url('../fonts/ArialNarrow-Regular.woff') format('woff2'),
		url('../fonts/ArialNarrow-Regular.woff2') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'ArialNarrow';
	src: url('../fonts/ArialNarrow-Bold.woff') format('woff2'),
		url('../fonts/ArialNarrow-Bold.woff2') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
