$primary-color: #009167;

@import 'fonts';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	max-width: 1920px;
	width: 100%;
	margin: 0 auto;
	position: relative;
	font-family: 'ArialNarrow';
	font-weight: 400;
	color: #343434;
	font-size: 18px;
	line-height: 21px;
}

a,
span {
	display: inline-block;
}

a {
	text-decoration: none;
	color: inherit;
}

li {
	list-style: none;
}

input,
textarea,
button {
	background: none;
	border: 0;
	outline: none;
	resize: none;
}

img {
	max-width: 100%;
}

.page {
	margin-bottom: 120px;
}

.page_indent {
	margin-bottom: 96px;
}

.container {
	max-width: 1230px;
	width: 100%;
	padding: 0 15px;
	margin: 0 auto;
}

.content {
	max-width: 456px;
	width: 100%;
	&_page {
		max-width: 624px;
		width: 100%;
	}
}

.title {
	font-weight: 700;
	font-size: 60px;
	line-height: 68px;
}
.desc {
	font-size: 28px;
	line-height: 34px;
}

.button {
	font-size: 24px;
	color: #fff;
	padding: 22px 36px;
	background-color: $primary-color;
	position: relative;
	& span {
		position: relative;
	}
	&::before {
		content: '';
		transition: 0.3s;
		width: 1px;
		height: 100%;
		background-color: #006447;
		position: absolute;
		left: 0;
		top: 0;
	}
	&:hover {
		&::before {
			width: 100%;
		}
	}
}

.header {
	padding: 24px 0;
	margin-bottom: 70px;
	display: flex;
	align-items: center;
	margin-left: -59px;
	&__logo {
		margin-right: 41px;
	}
}

.nav {
	position: absolute;
	top: 24px;
	& .list {
		display: flex;
		&__item {
			margin-right: 28px;
			&:last-child {
				margin-right: 0;
			}
		}
		&__link {
			position: relative;
			color: #7e7e7e;
			transition: 0.3s;
			&::before {
				content: '';
				position: absolute;
				bottom: -8px;
				width: 0px;
				height: 2px;
				background-color: $primary-color;
				left: 50%;
				transition: 0.3s;
			}
			&:hover {
				color: #343434;
				&::before {
					width: 100%;
					left: 0;
				}
			}
		}
	}
	&_page {
		position: static;
	}
}

.big-block {
	height: 100%;
	width: 45%;
	position: fixed;
	top: 0;
	right: 0;
	&_noslider {
		height: 100%;
		width: 45%;
		position: fixed;
		top: 0;
		right: 0;
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: #000;
			opacity: 0.5;
			z-index: 2;
		}
		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-image: url('../img/patterns/pattern.svg');
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			z-index: 4;
		}
	}
	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-image: url('../img/patterns/pattern.svg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		z-index: 4;
	}
	& .slick-arrow {
		position: absolute;
		z-index: 5;
		width: 42px;
		height: 40px;
		bottom: 15px;
		background-color: #fff;
		left: 8px;
		cursor: pointer;
		background-repeat: no-repeat;
		background-position: center;
		font-size: 0;
	}
	& .slick-prev {
		background-image: url('../img/prev.svg');
	}
	& .slick-next {
		left: 58px;
		background-image: url('../img/next.svg');
	}
	&__item {
		height: 100vh;
		& img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}

.sidebar {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 10;
	width: 84px;
	height: 100vh;
	background-color: $primary-color;
	&__logo {
		text-align: center;
	}
	&__nav {
		&-text {
			position: absolute;
			bottom: 108px;
			left: 50%;
			transform: translateX(-50%);
			writing-mode: vertical-lr;
			opacity: 0.5;
			color: #fff;
			text-transform: uppercase;
		}
		&-button {
			width: 100%;
			height: 84px;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: #007150;
			&_page {
				transform: rotate(180deg);
			}
		}
	}
	&_page {
		position: fixed;
	}
}

.layout {
	position: relative;
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	&-bg {
		position: absolute;
		top: 0;
		right: 84px;
		width: 48%;
		height: 100vh;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: #000;
			opacity: 0.5;
			z-index: 2;
		}
		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-image: url('../img/patterns/pattern.svg');
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			z-index: 4;
		}
		&__logo {
			position: absolute;
			z-index: 3;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
	&-map {
		position: absolute;
		top: 0;
		right: 84px;
		width: 48%;
		height: 100vh;
	}
}

.langs {
	color: #fff;
	line-height: 21px;
	text-align: center;
	margin-top: 24px;
}

.promo {
	&__title {
		margin-bottom: 12px;
	}
	&__desc {
		margin-bottom: 48px;
	}
}

.faq-block {
	position: relative;
	margin-bottom: 24px;
	&__icon {
		width: 36px;
		position: absolute;
		top: 30px;
		right: 12px;
		& span {
			position: absolute;
			width: 100%;
			height: 4px;
			background-color: $primary-color;
		}
	}
	&__hr {
		transition: 0.3s;
		transform: rotate(90deg);
		&_disabled {
			transform: rotate(0deg);
		}
	}
	&__title {
		width: 100%;
		cursor: pointer;
	}
	&__desc {
		width: 100%;
		height: 0;
		overflow-y: auto;
		padding-right: 15px;
		transition: 0.3s;
		&_active {
			margin-top: 25px;
			height: 312px;
		}
		&::-webkit-scrollbar {
			width: 4px;
			background-color: #eaeaea;
			border-radius: 2px;
		}

		&::-webkit-scrollbar-thumb {
			background-color: #343434;
			border-radius: 2px;
		}
	}
}

.about {
	&__title {
		margin-bottom: 24px;
	}
	&__desc {
		margin-bottom: 72px;
	}
}

.directions {
	&__page {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		& .direction {
			width: 47%;
			margin-bottom: 48px;
		}
	}
	&__title {
		font-weight: 700;
		font-size: 36px;
		line-height: 42px;
		margin-bottom: 36px;
	}
	&-blocks {
		position: relative;
		min-height: 200px;
		margin-bottom: 15px;
	}
	&__hrs {
		display: flex;
	}
	&__hr {
		width: 36px;
		height: 4px;
		background-color: $primary-color;
		margin-right: 12px;
		cursor: pointer;
		&:last-child {
			margin-right: 0;
		}
	}
	& .slick-dots {
		display: flex;
		margin-top: 25px;
		& li {
			margin-right: 12px;
			opacity: 0.5;
			transition: 0.4s;
			&:last-child {
				margin-right: 0;
			}
			&.slick-active {
				opacity: 1;
			}
		}
		& button {
			font-size: 0;
			width: 36px;
			height: 4px;
			background-color: $primary-color;
			cursor: pointer;
		}
	}
}

.direction {
	&__icon {
		margin-bottom: 16px;
	}
	&__title {
		display: block;
		font-size: 28px;
		font-weight: 700;
		line-height: 32px;
		margin-bottom: 12px;
	}
	&__desc {
		font-size: 24px;
		line-height: 32px;
	}
}

.why {
	&__title {
		margin-bottom: 48px;
	}
	&__block {
		margin-bottom: 48px;
		display: flex;

		&:last-child {
			margin-bottom: 0;
		}
	}
	&__icon {
		margin-right: 16px;
		flex: 0 0 36px;
	}
	&__desc {
		font-size: 24px;
		line-height: 30px;
	}
}

.tenders {
	&__title {
		margin-bottom: 48px;
	}
	&__view-all {
		display: inline-flex;
		align-items: center;
		color: #009167;
		transition: 0.3s;
		&:hover {
			& .tenders__icon {
				margin-left: 24px;
			}
		}
	}
	&__icon {
		margin-left: 12px;
		transition: 0.3s;
	}
}

.tender {
	margin-bottom: 48px;
	&:hover {
		& .tender__title {
			color: $primary-color;
		}
	}
	&__title {
		font-size: 28px;
		line-height: 32px;
		margin-bottom: 12px;
		font-weight: 700;
		transition: 0.3s;
	}
	&__date {
		color: #7e7e7e;
	}
}

.partners {
	&__title {
		margin-bottom: 72px;
	}
	&-blocks {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
}

.partner {
	width: 47%;
	margin-bottom: 72px;
	&__logo {
		margin-bottom: 16px;
	}
	&__title {
		font-size: 24px;
		line-height: 26px;
	}
}

.contacts {
	&__title {
		margin-bottom: 48px;
	}
	&__phone {
		display: block;
		font-size: 36px;
		line-height: 42px;
		margin-bottom: 16px;
		font-weight: 700;
		transition: 0.3s;
		&:hover {
			color: $primary-color;
		}
	}
	&__email {
		font-size: 24px;
		line-height: 27px;
		display: block;
		margin-bottom: 16px;
		transition: 0.3s;
		&:hover {
			color: $primary-color;
		}
	}
	&__location {
		font-size: 24px;
		line-height: 27px;
		display: block;
		margin-bottom: 48px;
		transition: 0.3s;
		&:hover {
			color: $primary-color;
		}
	}
}

.feedback {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	&__input-wrap {
		position: relative;
		display: flex;
		align-items: center;
		width: 216px;
		height: 62px;
		border-bottom: 1px solid #cbcbcb;
		margin-bottom: 24px;
	}
	&__textarea-wrap {
		position: relative;
		display: flex;
		align-items: center;
		width: 100%;
		height: 62px;
		border-bottom: 1px solid #cbcbcb;
		margin-bottom: 48px;
	}
	& label {
		font-family: 'ArialNarrow';
		font-weight: 400;
		position: absolute;
		background: #fff;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		font-size: 20px;
		line-height: 23px;
		z-index: -1;
		transition: 0.3s;
	}
	& input {
		font-family: 'ArialNarrow';
		font-weight: 400;
		width: 100%;
		font-size: 20px;
		line-height: 23px;
		transition: 0.3s;
		&:focus {
			& + label {
				top: 0;
				font-size: 18px;
				line-height: 21px;
				color: #afafaf;
			}
		}
		&:invalid {
			& + label {
				top: 0;
				font-size: 18px;
				line-height: 21px;
				color: #afafaf;
			}
		}
	}
	& textarea {
		font-family: 'ArialNarrow';
		font-weight: 400;
		width: 100%;
		height: 23px;
		font-size: 20px;
		line-height: 23px;
		transition: 0.3s;
		&:focus {
			& + label {
				top: 0;
				font-size: 18px;
				line-height: 21px;
				color: #afafaf;
			}
		}
	}
	& button {
		cursor: pointer;
		width: 100%;
	}
}

@import 'pages/about';

@import 'adaptive/xl';
@import 'adaptive/lg';
@import 'adaptive/md';
@import 'adaptive/sm';
@import 'adaptive/xs';
